<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards Refrence</title>
    <link rel="stylesheet" href="king.css" />
  </head>
  <body>
    <!-- Coin Flipper -->
    <!-- Random Card Generator  -->
    <!-- Random Card Generator per card -->
    <!-- <button id="Jokers">Joker Cards</button>
    <button id="Kings">King Cards</button>
    <button id="Queens">Queen Cards</button>
    <button id="Jacks">Jack Cards</button>
    <button id="Tens">Ten Cards</button>
    <button id="Nines">Nine Cards</button>
    <button id="Eights">Eight Cards</button>
    <button id="Sevens">Seven Cards</button>
    <button id="Sixs">Six Cards</button>
    <button id="Fives">Fives Cards</button>
    <button id="Fours">Four Cards</button>
    <button id="Threes">Three Cards</button>
    <button id="Twos">Two Cards</button>
    <button id="Aces">Ace Cards</button> -->

    <div class="container">
      <div class="player player-one">
        <button id="PlayerOneButton">Player One</button>
        <button id="DrawThreePlayerOneButton">Player One Draw Three</button>
      </div>
      <button class="button" id="flipButton">Flip a coin</button>
      <button class="button" id="Random_Card_Selector">Random Card</button>
      <button class="button" id="Reset_Button">Reset Cards</button>
      <div class="player player-two">
        <button id="PlayerTwoButton">Player Two</button>
        <button id="DrawThreePlayerTwoButton">Player Two Draw Three</button>
      </div>
    </div>
    <!-- JavaScrtips -->
    <script src="king.js"></script>
    <script src="Card-ref.js"></script>
  </body>
</html>
