<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Play</title>
  </head>
  <body>
    <li>
      <a href="../index.html">Home</a>
      <a href="Rules.html">Rules</a>
      <a href="#">Play</a>
      <a href="./Quiz.html">Quiz</a>
    </li>
    <h1>Play</h1>
    <button id="draw">Draw Card</button>
    <script src="Play.js"></script>
  </body>
</html>
