<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rules</title>
    <link rel="stylesheet" href="Rules.css" />
  </head>
  <body>
    <li>
      <a href="#">Home</a>
      <a href="./Rules.html">Rules</a>
      <a href="./Play.html">Play</a>
      <a href="./Quiz.html">Quiz</a>
    </li>
    <h1>Rules</h1>
    <!-- Energy Cards -->
    <h2>Energy Cards</h2>
    <p>there are 4 types of energy cards seperated into 2 categories</p>
    <p>if attacker is the same type then you get a plus 3 on all stats</p>
    <ul>
      Black
      <li>Spade Attack</li>
      <li>Clover Defense</li>
    </ul>
    <ul>
      Red
      <li>Diamond Magic</li>
      <li>Heart Resistance</li>
    </ul>
    <p>
      ace has the ability to discard opponents energy of attackers choosing, the
      discard the ace
    </p>
    <!-- Ability Cards -->
    <h2>Ability Cards</h2>
    <!-- Energy card -->
    <h5>Energy Reactor</h5>
    <h6>Card Number 8</h6>
    <p>search through deck for energy card of your choosing, then discard</p>
    <!-- Figher -->
    <h5>Fighter Recruiter</h5>
    <h6>Card Number 9</h6>
    <p>search through deck for a fighter card of your choosing, then discard</p>
    <!-- Kill -->
    <h5>Instant Kill</h5>
    <h6>Card Number 10</h6>
    <p>Instantly kills the opposing fighter</p>
    <!-- Fighter Cards -->
    <h2>Figher Cards</h2>
    <ul>
      <li>Joker</li>
      <p>has all abilities, but no bonus</p>
      <li>King</li>
      <p>able to push front line attacker to back line</p>
      <li>Queen</li>
      <p>able to attack the back lines</p>
      <li>Jack</li>
      <p>
        able to move between front lines and back lines freely at anytime of the
        turn
      </p>
    </ul>
  </body>
</html>
